@page "/addressentry"
<PageTitle>Address Entry</PageTitle>

<h3>Address Entry</h3>

<EditForm Model="address" OnValidSubmit="ValidSubmission" >
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText placeholder="Street Address" @bind-Value="address.Street" /> <br />
    <InputText placeholder="City Address" class="form-control-lg" @bind-Value="address.City" /> <br />
    <InputText placeholder="State Address" class="form-control-sm" @bind-Value="address.State" /> <br />
    <InputText placeholder="Zip Code Address" class="form-control-color" @bind-Value="address.ZipCode" /> <br />


    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>


<ul>
    @foreach(string fullAddress in addresses)
    {
        <li>@fullAddress</li>
    }
</ul>



@code {
    private List<string> addresses = new ();
    private AddressModel address = new();


    private void ValidSubmission()
    {
        addresses.Add(address.FullAddress);
        address = new();
    }
}
